body {
  font-family: "EB Garamond", serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 22.5px;
  color: #161616;
  background-color: #f6f6f5;
}
/* utility */
.none {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  opacity: 0;
  visibility: hidden;
  width: 0px;
  height: 0px;
  display: block;
  margin-left: -10000px;
  background: transparent;
  font-size: 0;
}

/* Grid */
.container {
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1163px) {
  .big--container {
    width: 100%;
  }
}

@media (max-width: 1139) {
  .container {
    width: 100%;
  }
}
.big--container {
  position: relative;
  max-width: 1164px;
  padding-left: 27px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.no-scroll {
  overflow: hidden;
}
