.mobile-nav-button {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  /* Nav icon styles */
  position: relative;

  width: 40px;
  height: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;

  display: none;
}
@media (max-width: 991px) {
  .mobile-nav-button {
    display: flex;
  }
}

.mobile-nav-button__icon {
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  background-color: #b8926b;
  border-radius: 25%;
}

.mobile-nav-button__icon::after,
.mobile-nav-button__icon::before {
  position: absolute;
  content: "";
  width: 30px;
  height: 2px;
  background-color: #b8926b;
  border-radius: 25%;
  /* Трансформация при закрывании */
  transition: transform 0.15s ease-in, top 0.15s ease-in 0.15s;
}
.mobile-nav-button__icon::before {
  left: 0;
  top: -10px;
}
.mobile-nav-button__icon::after {
  left: 0;
  top: 10px;
}

@media (max-width: 524px) {
  .mobile-nav-button__icon {
    width: 21px;
  }

  .mobile-nav-button__icon::after,
  .mobile-nav-button__icon::before {
    width: 21px;
  }
}
