.mobile-nav {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  z-index: 99;
  background: rgba(54, 54, 54, 0.3);
  top: 0;
  left: 0;
}

.mobile-nav.active {
  display: block;
}

.mobile-nav__container {
  background-color: #d8bfa9;
  color: #f6f6f5;
  display: flex;
  text-align: center;
  justify-content: center;
}
.mobile-nav__close {
  position: absolute;
  right: 45px;
  top: 24px;
  cursor: pointer;
  background-color: #d8bfa9;
  transition: opacity 0.2s ease;
}

.mobile-nav__close:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.mobile-nav__logo {
  margin-top: 24px;
  margin-bottom: 32px;
}

.mobile-nav__ul {
  margin-bottom: 48px;
}
.mobile-nav__item {
  margin-bottom: 16px;
  font-family: "Garamond";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  transition: opacity 0.2s ease;
}
.mobile-nav__item:hover {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.5);
}

.mobile-nav__item--finaly {
  margin-bottom: 0px;
}

.mobile-icons {
  display: flex;
  text-align: center;
  width: 180px;
  justify-content: space-between;
  margin-bottom: 16px;
  transition: opacity 0.2s ease;
}

.mobile-icons:hover {
  opacity: 0.8;
  color: rgba(0, 0, 0, 0.5);
}

.mobile-icons__wrapper {
  display: flex;
  width: 30px;
  height: 30px;
  align-items: center;
  position: relative;
  width: 74%;
  transition: opacity 0.2s ease;
}

.mobile-icons__wrapper:hover {
  box-shadow: inset 0 0 100px 100px rgba(255, 255, 255, 0.1);
}

.mobile-icons__wrapper--2 {
  padding-left: 2px;
}
.mobile-icons__wrapper--4 {
  padding-left: 5px;
}
.mobile-icons__wrapper::before {
  position: absolute;
  content: "";
  left: -6px;

  width: 30px;
  height: 30px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border: 1px solid #f6f6f5;
  border-radius: 50%;
}

.mobile-icons__items {
  margin: 0 auto;
}

@media (max-width: 524px) {
  .mobile-nav__close {
    right: 19px;
    top: 16px;
  }

  .mobile-nav__logo {
    justify-content: center;
  }
  .mobile-nav__logo-img {
    max-width: 80px;
  }

  .mobile-nav__item {
    font-family: "Garamond";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 16px;
  }
}
